<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <% @products.each do |product| %>
      <div class="col-xs-6 col-md-2 product-list-item text-center">
        <%= link_to product_path(product) do %>
          <% if product.image.present? %>
            <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>

        <h4 class="text-center">
          <%= link_to(product.title, product_path(product)) %>
        </h4>

        <br>
        <strong>
          ￥<%= product.price %>
        </strong>

      </div>
    <% end %>
  </div>

</div>